node_modules
lec2note_main/google-credentials.json
/static_dir/database/*
!/static_dir/database/sampleVideo
test.output.json
lec2note_main/audio_caches
lec2note_main/transcript_caches
lec2note_main/frames
lec2note_main/thumbnail.png
__pycache__
upload_tmp/*
!upload_tmp/placeholder
local.json