<div style="display:none" id="view_home">
    <style>
        #view_home {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }
        
        #view_home .sidebar {
            flex: 0 1 5%;
            display: flex;
            flex-direction: column;
            background: #FCE5CD;
        }
        
        #view_home .mainView {
            flex: 1 0 95%;
            display: flex;
            flex-direction: column;
            background: #eeeeee;
        }
        
        #view_home .sidebar>img {
            width: 100%;
        }
        
        .searchbar {
            flex: 0 1 30px;
            margin: 20px 0px;
        }
        
        .searchbar>* {
            font-size: 20px;
        }
        
        .results_container {
            flex: 1 0 90%;
        }
        
        #view_home .results_container {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }
        
        .result_template>img {
            width: 100%;
            border-radius: 5px;
            max-height: calc(100% - 1.5em);
        }
        
        .results_container>div {
            flex: 0 0 20%;
            height: 24vh;
            width: 32vh;
            margin: 2vh;
            padding: 1vh;
            border-radius: 10px;
            background: white;
        }
    </style>
    <div class="mainView">
        <div class="searchbar"><input style="width: 80vw" placeholder="Search by name, tag, time or more..."><button>Go</button></button>
        </div>
        <div class="results_container">
            <div class="upload_button">
                <form id="uploadform" action="/uploadFile" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="video_uploads">Choose videos to upload (MP4)</label>
                        <input type="file" id="video_uploads" name="video_uploads" accept=".mp4">
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
            <div class="result_template" style="display:none">
                <img onerror="if (this.src != 'fallback-processing.png') this.src = 'fallback-processing.png';">
                <div>
                    <span class="videoTitle"></span>
                    <span class="videoTags"></span>
                </div>
            </div>
        </div>

    </div>
</div>