<div id="view_sidebar">
    <style>
        #view_sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }
        
        #view_sidebar .sidebar>img {
            width: 100%;
        }
        
        #view_sidebar .sidebar>div:hover {
            background: #FCCDC0;
            cursor: pointer;
        }
        
        #view_sidebar .sidebar {
            flex: 0 1 5%;
            display: flex;
            flex-direction: column;
            background: #FCE5CD;
            text-align: center;
        }
        
        #view_sidebar .main_container {
            flex: 1 0 95%;
            display: flex;
            flex-direction: column;
            background: #eeeeee;
            padding-left: 20px;
        }
        
        .material-icons-outlined {
            font-size: 3em;
            padding-top: 10px;
        }
    </style>
    <div class="sidebar">
        <img onclick="controller.switchView('home')" src="favicon.png">
        <div onclick="controller.switchView('home')">
            <span class="material-icons-outlined">home</span>
            <div>Home</div>
        </div>

        <div>
            <span class="material-icons-outlined">settings</span>
            <div>Settings</div>
        </div>

        <div>
            <span class="material-icons-outlined">bar_chart</span>
            <div>Statistics</div>
        </div>

        <div onclick="controller.switchView('about')">
            <span class="material-icons-outlined">info</span>
            <div>About</div>
        </div>
    </div>
    <div class="main_container">
        <!-- other views go here -->
    </div>
</div>