<div id="view_sidebar">
    <style>
        #view_sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }
        
        #view_sidebar .sidebar>img {
            width: 100%;
        }
        
        #view_sidebar .sidebar {
            flex: 0 1 5%;
            display: flex;
            flex-direction: column;
            background: #FCE5CD;
        }
        
        #view_sidebar .main_container {
            flex: 1 0 95%;
            display: flex;
            flex-direction: column;
            background: #eeeeee;
        }
    </style>
    <div class="sidebar">
        <img onclick="controller.switchView('home')" src="favicon.png">
        <div onclick="controller.switchView('about')">About</div>
    </div>
    <div class="main_container">
        <!-- other views go here -->
    </div>
</div>